
/* navbar */

.navabar-background{
    background:#333545 ;
    color: white;
}
.logo{
    width: 150px;

}

.navbar-search{
    width:250%
}

.navbar-login-button{
    background: #c4242b;
    color: white;
}

@media screen and (max-width: 768px) {
    .navbar-search{
        width:100%
    }
    
  }


/* home */

.home-main-title{
    color: #333545;
    font-size: 25px;
    font-weight: bold;

}

.home-movie-poster{

    border-radius: 10px;
}
.home-sub-title1{
    margin-top: 2px;
    color: #22242e;
    font-size: 18px;
    font-weight: bold;

}


/* single-movie-page */
.single-movie-page{
    background: #4a4d63;
    color: white;
}
.single-movie-poster{
    width:100%;
    border-radius: 10px;
}

.single-movie-title{
    font-size: 45px;
    font-weight: bold;
}
.single-movie-sub-title{
    font-size: 30px;
    font-weight: bold;
}